* {
    color: white;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
.producto{
    display: flex;
}
.opciones{
    width: 20%;
}
.producto a{
    text-decoration: none;
}
.producto p{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
.colonia{
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding-top: 2em;
}
.ingredientes{
    padding-top: 4em;
}
.ingredientes i{
    color:blueviolet;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor img{
    width: 100%;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fotos{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: black;
}
.arandano_borde{
    display: flex;
    justify-content: center;
    transform: rotate(45deg);

}
.arandano{
    display: flex;
    justify-content: center;
 
}

.arandano img{
    width: 40%;
}
.arandano img:hover{
    width: 60%;
    transition: 0.2s;
}
.arandano_borde img{
    width: 10%;
}
h2{
    color: white;
    font-size: 3em;
}
h3{
    color: white;
    font-size: 1em;
}
i{
    color: white;
}
.caract{
    z-index: 100;
}
.caract h3{
    padding: 0.4em 0;
    font-size: 1.5em;
}
.comprar{
    z-index: 100;
    display: flex;
    align-items: flex-end;
    
}
.comprar img{
    width: 40%;
}


