*{
    background-color: black;
}
.producto{
    display: flex;
    justify-content: space-between;
}
.producto a{
    text-decoration: none;
}
.producto p{
    color: white;
    text-decoration: none;
}
.colonia{
    display: flex;
    justify-content: center;
}
img{
    width: 50%;
}
.arandano{
    width: 50%;
    display: flex;
    justify-content: center;
}
h3{
    color: white;
    font-size: 1em;
}
