* {
    color: white;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

.link_atras {
    width: 10%;
}

#flecha_back {
    font-size: 3em;
    color: blueviolet;
    margin-left: 1em;
    margin-top: 0.75em;
    margin-right: 1em;
}

.producto{
    display: flex;
}

.opciones{
    width: 20%;
}

.producto a{
    text-decoration: none;
}

.producto p{
    color: white;
    text-decoration: none;
}

.colonia{
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.caract {
    padding-top: 2em;
}

.ingredientes{
    padding-top: 1em;
}

.ingredientes_perfume {
    margin-bottom: 1em;
    display: flex;
}

.ingredientes_perfume img {
    width: 5%;
    margin-right: 1em;
}

.contenedor{
    margin-bottom: 1em;
}

.contenedor img{
    width: 100%;
}

.fotos{
    display: flex;
    flex-direction: column;
    position: fixed; 
}

.arandano{
    display: flex;
    justify-content: center;
    margin-right: 5em;
}

.arandano2 {
    display: flex;
    justify-content: center;
    margin-left: 10em;
}

.arandano2 img {
    width: 15% ;
    transform: rotate(30deg)
}
.arandano img{
    width: 30%;
    transform: rotate(-20deg)
}

.arandano img:hover{
    width: 35%;
    transition: 0.2s;
}

.arandano2 img:hover{
    width: 35%;
    transition: 0.2s;
}

h2{
    color: white;
    font-size: 3em;
    font-weight: 500;
}

h3{
    color: white;
    font-size: 2em;
    font-weight: 500;
}

i{
    color: white;
}

.prueba {
    display: flex;
    flex-direction: row-reverse;
  
}
.comprar{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-left: 10em;
}

.comprar img{
    width: 10em;
    z-index: 100;  
}

/* MEDIA QUERIES  */

@media only screen and (max-width: 1200px){

    h2{
        font-size: 2em;
    }

    .contenedor img{
        width: 70%;
    }

    .caract h3{
        font-size: 1.2em;
    }

    .producto p{
        font-size: .9em;
    }

    .colonia {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }

    .comprar{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15em;
    }

    .arandano {
        margin-left: 8em;
        margin-right: 0;
    }

    .arandano2 {
        margin-left: 15em;
    }
   
    .arandano img{
        width: 30%;
    }

    .arandano img:hover{
        width: 55%;
        transition: 0.2s;
    }

    .prueba{
        display: flex;
        align-items: flex-start;
    }

    .fotos{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px){ 

    .prueba {
        flex-direction: column;
        padding-top: 2em;
    }

    .comprar {
        padding-top: 22em;
    }

    .arandano {
        margin-left: 0;
        margin-right: 3em;
    }

    .arandano2 {
        margin-left: 10em;
    }

    .arandano2 img {
        width: 20%;
    }

    .arandano img {
        width: 35%;
    }
}


@media only screen and (max-width: 600px){

    .producto{
        display: flex;
    }
    .colonia{
        display: inline-grid;
    }
   
    .caract h3{
        padding: 0.2em 0;
        font-size: 1.2em;
    }
   
    .fotos{
        display: flex;
        flex-direction: column;
        position: absolute; 
    }

    .prueba{
        display: flex;
        justify-content: center;
        
    }

    .comprar {
        position: absolute;
        margin-left: 4em;
        margin-top: 10em;
    }

    .prueba {
        padding: 0;
    }

    .link_atras {
        width: 5%;
    }
    
    #flecha_back {
        font-size: 2em;
        margin-top: 1.15em;
    }

    .arandano2 {
        display: flex;
        justify-content: flex-start;
        margin-left: 10em;
    }

    .arandano img {
        width: 10em;
    }

    .arandano2 img {
        width: 5em;
    }
    
}

@media only screen and (max-width: 400px) {
    
    .producto .row {
        width: 4%;
    }

    .colonia {
        margin-top: 3em;
        margin-left: 1em;
    }

    .comprar {
        margin-left: 2em;
    }
    
}



