<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 2c2b8842c04c684dabb1c726022759b70fe2556c








































































































































































/* header*/
.inicio{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
    
}
img{
    max-width: 10%;
    margin: 1em;
}


nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    padding: 1em;
}

.about:hover{
    color: rgb(255, 94, 0);
    transition:.3s;
}
.services:hover{
    color: rgb(123, 255, 0);
    transition:.3s;
}
.products:hover{
    color: rgb(200, 0, 255);
    transition:.3s;
}
.contact:hover{
    color: rgb(0, 255, 221);
    transition:.3s;
}




/* footer */
.general{
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    padding: 2em 0;
}
.general h1{
    color: white;
    font-size: 1.5em;
}
.general h2{
    color: white;
    font-size: 1em;
    padding-top: 2em;
}
.opciones{
    margin-top:2em;
}
.general p{
    color: white;
    font-size: 1em;
}
.linea{
    color: white;
}
.icons{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
.icons i{
    color:white;
    font-size: 1.5em;
}
<<<<<<< HEAD
=======
=======
>>>>>>> 2c2b8842c04c684dabb1c726022759b70fe2556c
* {
    color: white;
}

body {
    background-color: black;
}

.card-title {
    color: white;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

#home {
    margin: 0;
}

/* No sé por qué tiene un fondo negro el icono de los carruseles  */
#inicial {
    height: 100%;
}
/* No sé por qué no funciona lo de altura máxima */

#home h1 {
    margin-left: 1.1em;
 }
 
 #home p {
     margin-left: 4.5em;
  }

/* CARRUSEL */
.carousel-item .row {
    display: flex;
    align-items: center;
}

#carrusel {
    height: 100%;
    width: 120%;
    margin: 0;
    padding: 0;
}

#carrusel h2 {
    margin-left: 1.3em;
}

#carrusel p {
    margin-left: 4em;
}

/* TARJETAS  */
.card {
    background-color: transparent;
}
.card-body {
    background-color: aqua;
}

.carousel-item .col-6 {
    background-color: azure;
<<<<<<< HEAD
>>>>>>> main
=======
>>>>>>> 2c2b8842c04c684dabb1c726022759b70fe2556c
}